.top-nav{  
    position: fixed;  
    top: 0; 
	left: 0;
    margin: 0 auto;  
    z-index: 999;
	height:70px;
	line-height:70px;
	background:#FFFFFF;
	//opacity:0.5;
} 
.top-bar{
	float:left;
	cursor:pointer;
	font-size:14px;
	font-color:#000000;
	text-decoration:none;
	margin-right:30px;
}
.footer-bar{
	float:left;
	cursor:pointer;
	font-size:14px;
	font-color:#FFFFFF;
	text-decoration:none;
	margin-right:40px;
}
a{
	font-size:16px;
	color:#000000;
}
a:hover
{ 
    color:#000000;
	text-decoration:none;
}
.footer-bar>a{
	font-size:16px;
	color:#FFFFFF;
}
.footer-bar>a:hover{
	color:#FFFFFF;
	text-decoration:none;
}
.bg-img{
	width:100%;
	height:auto;
} 
.btn-join{
	margin-top:30px;
	width:90px;
	height:30px;
	line-height:30px;
	border:0px;
	border-radius:15px;
	background-color:#FAA523;
	padding:0px;
}
.div-icon{
	height:280px;
}
.img-icon{
	width:40px;
	height:30px;
}
.p-icon{
	margin:10px auto 20px auto;
	color:#00497F;
	font-size:16px;
	font-weight:bold;
}
.p-describe{
	margin:0px auto;
	font-size:14px;
	width:230px;
}
.p-describe>p{
	text-align:left;
	margin:0 auto;
}
.country{
	margin-top:30px;
	padding:0px 15%;
}
.country>p{
	float:left;
}
.country>p>a{
	color:#FFFFFF;
	font-size:14px;
}
#page1{background: url('../image/index/bg_pic001.png') no-repeat;background-size:100% 100%;overflow: hidden;}
#page2{background: url('../image/index/bg_pic002.png') no-repeat;background-size:100% 100%;overflow: hidden;}
#page3{background: url('../image/index/bg_pic003.png') no-repeat;background-size:100% 100%;overflow: hidden;}
#page4{background: url('../image/index/bg_pic004.png') no-repeat;background-size:100% 100%;overflow: hidden;}
#page5{background: url('../image/index/bg_pic005.jpg') no-repeat;background-size:100% 100%;overflow: hidden;}
